.top{
    background-color: #CAF0F8;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.middle{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}
.bottom{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}
h1, body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}
body{
    margin-bottom: 0;
    color: #40514E;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Amita', cursive;
    font-size: 18px;
    color: #66BFBF;
    font-weight: normal;
}
.top-cloud{
    /* padding: 50px; */
    position: absolute;
    right:300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* .pr_image{
    width: 15%;
} */

a,h3{
    color: #11999E;
    font-family: 'El Messiri', sans-serif;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code_img{
    width: 35%;
    float: left;
    padding-right: 30px;
}

.paint_img{
    width: 25%;
    float: right;
    padding-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    height: 0;
    width: 5%;
    border-width: 7px;
    border-color: #acc0c0;
}
.profile{
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.pr_head{
    font-size: 40px;
}
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
}
.skill_head{
    font-size: 40px;
}
.contact-me{
    padding-top: 50px;
    line-height: 2;
}
.contact_head{
    font-size: 40px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
      margin-top: 100px;
      padding-top: 30px;
      background-color: #66BFBF;
      line-height: 2;
      height: 150px;
  }
  .tweet{
      padding-left: 50px;
      padding-right: 50px;
  }
  .footer-link{
      /* padding-top: 200px; */
      text-decoration: none;
      font-size: 20px;
  }
  .footer-link:hover{
      color: #EAF6F6;
  }
  p{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
  .footer_last{
      color: #EAF6F6;
  }
  .toph2{
      font-weight: bold;
      font-size: 30px;
  }
  .pr_text{
      line-height: 2;
  }